@charset "UTF-8";

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    /* 1rem=10pxとしている(16px*0.625=10) */
    font-size: 0.625rem;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    color: #333;
    font-size: 1.4rem;
    line-height: 1.4;
    padding: 0;
    font-family: メイリオ, Meiryo, '游ゴシック Medium', YuGothic, YuGothicM, 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro',
        sans-serif;
}

ul,
ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

dl,
dt,
dd {
    margin: 0;
}

button {
    background-color: transparent;
    border: none;
}

input {
    margin: 0;
    -webkit-appearance: none;
}

input[type="date"]::-webkit-clear-button {
    -webkit-appearance: none;
}

input[type="date"]::-ms-clear {
    visibility: hidden
}

.hidden {
    display: none !important;
}

header ul {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    text-align: right;
}

header li {
    display: inline-block;
    margin-left: 1rem;
}

header li.load input {
    display: none;
}

header button {
    align-items: center;
    border-radius: 30px;
    background: #8DE0C2;
    display: flex;
    justify-content: center;
    height: 55px;
    padding: 10px;
    width: 55px;
}

header button:hover,
header button:active {
    opacity: 0.8;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    width: 100%;
}

.dataBox {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    margin: 0 1rem 1rem 0;
    padding: 1rem;
    width: calc((960px - 2rem) / 3);
}

.dataBox:nth-of-type(3n) {
    margin-right: 0;
}

.dataBox * {
    pointer-events: none;
}

.dataBox.current * {
    pointer-events: initial;
}

.dataBox h3 {
    margin-bottom: 1rem;
}

.dataBox dl {
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
}

.dataBox dl dt {
    width: 7rem;
}

.dataBox input[type="text"] {
    font-weight: bold;
    padding: 3px 5px 0 5px;
    text-align: left;
    width: 100%;
}

.dataBox .dateWrap {
    margin-bottom: 1rem;
}

.dataBox .calenderWrap {
    align-items: center;
    display: inline-flex;
    position: relative;
}

.dataBox .calenderWrap input[type="date"] {
    border: 1px solid #a9a9a9;
    width: 10rem;
}

.dataBox .calenderWrap input[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.dataBox .calenderWrap input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0;
    width: 24px;
    height: 24px;
    /* background: rgba(255, 0, 0, 0.5); */
    background: transparent;
    color: transparent;
    cursor: pointer;
}

.dataBox .calenderWrap label {
    display: flex;
    margin: 0 0 0 5px;
}

.dataBox input[type="number"] {
    margin-right: 0.5rem;
    padding-left: 15px;
    text-align: center;
    width: 9rem;
}

.dataBox .btnWrap button {
    align-items: center;
    background: #FFAC3C;
    border-radius: 4px;
    display: flex;
    margin-top: 1rem;
    padding: 0.75rem;
    width: 100%;
}

.dataBox .btnWrap button:first-of-type {
    margin-top: 0;
}

.dataBox .btnWrap button.delete {
    background: #ccc;
}

.dataBox .btnWrap button.openDetail {
    background: #8DE0C2;
}

.dataBox .btnWrap button:hover,
.dataBox .btnWrap button:active {
    opacity: 0.8;
}

.dataBox .exerciseBox {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0 -1px 0 #ddd;
    box-shadow: 0 1px 0 #ddd;
}


.dataBox .exerciseBox .title {
    margin-bottom: 0.5rem;
}

.dataBox .exerciseBox dd {
    margin-right: 1rem;
}

.dataBox .exerciseBox dd input {
    margin: 0 0 5px 0;
    width: 100%;
}

.dataBox .exerciseBox dd span {
    display: block;
    text-align: right;
}

/* .modal {
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.modalInner {
    background: #fff;
    border-radius: 5px;
    cursor: default;
    padding: 1.5rem;
} */

/* test2 */
.foodAdjuster {
    background: #b9f1dd;
    color: #40894d;
    max-width: 500px;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
}

.foodAdjuster main {
    display: block;
    margin: 0 auto;
}

.separater {
    background: #b9f1dd;
    position: relative;
    z-index: 5;
}

.wrap {
    border-bottom: 1px solid #8DE0C2;
    box-shadow: 0px 1px 0px #d0f3dd;
    padding: 1rem;
}

.bodyWeight {
    align-items: center;
    display: flex;
    height: 6rem;
    position: relative;
}

.bodyWeight .input {
    display: table;
    margin: auto;
    position: absolute;
    left: 2.5rem;
    right: 0;
    top: 0;
    bottom: 0;
    width: 11rem;
}

.bodyWeight .input input {
    background: #d9f8ed;
    border: 1px solid #8DE0C2;
    box-shadow: 0px 0px 1px #d0f3dd;
    font-size: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    text-align: center;
    width: 8rem;
}

.bodyWeight button {
    align-items: center;
    border-radius: 3rem;
    background: #8DE0C2;
    display: flex;
    justify-content: center;
    height: 4.5rem;
    padding: 1rem;
    position: absolute;
    top: 0.7rem;
    right: 1rem;
    width: 4.5rem;
}

.dataWrap {
    display: flex;
    margin-bottom: 1rem;
}

.dataWrap>div {
    padding: 1rem 1rem 0;
    width: 50%;
}

.dataWrap>div:first-of-type {
    border-right: 1px solid #8DE0C2;
    box-shadow: 1px 0px 1px #d0f3dd;
}

.dataWrap .title {
    font-weight: bold;
    text-align: center;
}

.dataWrap dl {
    border-bottom: 1px solid #8DE0C2;
    box-shadow: 0px 1px 0px #d0f3dd;
    padding: 1rem 0;
}

.dataWrap dl:first-of-type {
    padding-top: 0;
}

.dataWrap dl dt {
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
}

.foodAdjuster .modal {
    background: #b9f1dd;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: opacity 0.2s, visibility 0s ease 0.2s;
    opacity: 0;
    overflow: auto;
    visibility: hidden;
    z-index: 6;
}

.foodAdjuster .modal.isShown {
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
}

.foodAdjuster .modal ul {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.foodAdjuster .modal li {
    border: 1px solid #8DE0C2;
    box-shadow: 0px 1px 0px #d0f3dd;
    margin: 0 1rem 1rem 0;
    width: calc(50% - 1rem);
}

.foodAdjuster .modal li:nth-of-type(even) {
    margin-right: 0;
}

.foodAdjuster .modal li button {
    background: #d9f8ed;
    color: inherit;
    padding: 1rem 0.5rem;
    text-align: center;
    width: 100%;
}

.foodList {
    padding: 0 1rem 1rem;
}

.foodList ul {
    display: flex;
    flex-wrap: wrap;
}

.foodList li {
    margin-right: 0.5rem;
}

.foodList li.selectWrap {
    width: calc(50% - 1rem);
    position: relative;
}

.foodList li.selectWrap .showModal {
    background: #d9f8ed;
    border: 1px solid #8DE0C2;
    box-shadow: 0px 0px 1px #d0f3dd;
    height: 100%;
    padding: 1rem 0.5rem 1rem 2rem;
    width: 100%;
}

.foodList li.selectWrap .showModal::before {
    content: "▲";
    display: inline-block;
    position: absolute;
    left: 0.5rem;
    transform: rotate(90deg);
}

.foodList li.selectWrap select {
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

.foodList li.inputWrap {
    width: calc(50% - 9.5rem)
}

.foodList li.inputWrap input {
    background: #d9f8ed;
    border: 1px solid #8DE0C2;
    border-radius: 0;
    box-shadow: 0px 0px 1px #d0f3dd;
    height: 100%;
    margin-right: 0.5rem;
    padding-top: 0.25rem;
    text-align: center;
    width: calc(100% - 1.5rem);
}

.foodList li.detailBtnWrap {
    width: 4.5rem;
}

.foodList li.detailBtnWrap button {
    align-items: center;
    border-radius: 3rem;
    background: #8DE0C2;
    display: flex;
    justify-content: center;
    height: 4.5rem;
    padding: 1rem;
    right: 1rem;
    width: 4.5rem;
}

.foodList li.deleteBtnWrap {
    margin-right: 0;
    width: 4.5rem;
}

.foodList li.deleteBtnWrap button {
    align-items: center;
    border-radius: 3rem;
    background: #eee;
    color: #bbb;
    display: flex;
    justify-content: center;
    height: 4.5rem;
    padding: 1rem;
    pointer-events: none;
    right: 1rem;
    width: 4.5rem;
}

.foodList li.deleteBtnWrap button.active {
    background: #ccc;
    color: #333;
    pointer-events: auto;
}

.foodDataWrap {
    display: flex;
    flex-wrap: wrap;
    /* heightで指定するとtransitionがかからないのでmax-heightを使う */
    max-height: 0;
    overflow: hidden;
    transition: 0.2s;
}

.foodDataWrap.show {
    /* max-height分の高さのタブを閉じる計算になるため、実際のfoodDataWrapの高さくらいを指定 */
    max-height: 150px;
}

.foodDataWrap dl {
    border-bottom: 1px solid #8DE0C2;
    box-shadow: 0px 1px 0px #d0f3dd;
    margin-right: 1rem;
    padding: 1rem 0;
    width: calc(50% - 1rem);
}

.foodDataWrap dl:nth-of-type(even) {
    margin-right: 0;
}